@font-face{
	font-family: 'Helvetica Neue Regular';
	src: url('../fonts/HelveticaNeueCyrRegular/HelveticaNeueCyr-Roman.eot');
	src: url('../fonts/HelveticaNeueCyrRegular/HelveticaNeueCyr-Roman.eot?iefix') format('eot'),
	url('../fonts/HelveticaNeueCyrRegular/HelveticaNeueCyr-Roman.woff') format('woff'),
	url('../fonts/HelveticaNeueCyrRegular/HelveticaNeueCyr-Roman.ttf') format('truetype');
}
@font-face{
	font-family: 'Helvetica Neue Medium';
	src: url('../fonts/HelveticaNeueCyrMedium/HelveticaNeueCyr-Medium.eot');
	src: url('../fonts/HelveticaNeueCyrMedium/HelveticaNeueCyr-Medium.eot?iefix') format('eot'),
	url('../fonts/HelveticaNeueCyrMedium/HelveticaNeueCyr-Medium.woff') format('woff'),
	url('../fonts/HelveticaNeueCyrMedium/HelveticaNeueCyr-Medium.ttf') format('truetype');
}
@font-face{
	font-family: 'Helvetica Neue Bold';
	src: url('../fonts/HelveticaNeueCyrBold/HelveticaNeueCyr-Bold.eot');
	src: url('../fonts/HelveticaNeueCyrBold/HelveticaNeueCyr-Bold.eot?iefix') format('eot'),
	url('../fonts/HelveticaNeueCyrBold/HelveticaNeueCyr-Bold.woff') format('woff'),
	url('../fonts/HelveticaNeueCyrBold/HelveticaNeueCyr-Bold.ttf') format('truetype');
}